<html lang="jp">
{% load static %}
    <head>
        <title>Dr.Sum Uploader Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Pixelify+Sans&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>