.pagetitle {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 36px;
    text-decoration: none;
}

.content container {
    font-family: M PLUS 1;
}

label {
    font-family: 'M PLUS 1';
    font-size: 20px;
    margin: 10px;
}

select {
    font-family: 'M PLUS 1';
    font-size: 20px;
    margin: 10px;
}

.button {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #fff;
    color: #FF617D;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f7e8eb;
}

.syoribtn {
    width: 55%;
    display: flex;
    justify-content: end;
}

.itembox {
    width: 100%;
    margin: 0 auto;
}

.bt-logout {
    font-family: 'M PLUS 1';
    display: flex;
    justify-content: end;
}

.page-header {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 24px;
    background-color: #E87A90;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.bt-select {
    font-size: 20px;
    font-family: 'M PLUS 1';
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt-select input {
    font-size: 20px;
    font-family: 'M PLUS 1';
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt-upload {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.bt-clear {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.information {
    font-family: 'M PLUS 1';
    color: #e94162;
    padding-left: 20px;
}
.subsel {
    background-color: #c7c6c6;
    margin: 20px;
}

button {
    font-size: 20px;
    font-family: 'M PLUS 1';
    color: #fff;
    background-color: #3d92d8;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}

.result {
    font-family: 'M PLUS 1';
}

table {
    width: 55%;
    border-collapse: collapse;
  }
    
  th {
    background-color: #fca7b5;
    color: #fff;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #fff6f6;
  }
  
  tr:nth-child(odd) {
    background-color: #fcefef;
  }
  
  td {
    padding: 10px;
  }  

.content {
    margin-left: 40px;
}
