body {
    background-image: url('https://images.unsplash.com/photo-1501619951397-5ba40d0f75da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: -1;
}

.pagetitle {
    color: transparent;
    font-family: 'Autour One';
    font-size: 50px;
    background-image: url('https://images.unsplash.com/photo-1501619951397-5ba40d0f75da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}

.page-header {
    opacity: 0.6;
    margin-top: 0;
    padding: 5px 10px 5px 20px;
    background-size: cover;
}

.content container {
    font-family: M PLUS 1;
}

label {
    font-family: 'M PLUS 1';
    font-size: 20px;
    margin: 10px;
}

select {
    font-family: 'M PLUS 1';
    font-size: 20px;
    margin: 10px;
}

.button {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #fff;
    color: #FF617D;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f7e8eb;
}

.syoribtn {
    width: 55%;
    display: flex;
    justify-content: end;
}

.itembox {
    width: 100%;
    margin: 0 auto;
}

.bt-logout {
    font-family: 'M PLUS 1';
    font-size: 25px;
    display: flex;
    justify-content: end;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.bt-select {
    font-size: 20px;
    font-family: 'M PLUS 1';
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt-select input {
    font-size: 20px;
    font-family: 'M PLUS 1';
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt-upload {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.bt-check {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.bt-clear {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.information {
    font-family: 'M PLUS 1';
    color: #e94162;
    padding-left: 20px;
}
.subsel {
    display: none;
}

button {
    font-size: 20px;
    font-family: 'M PLUS 1';
    color: #fff;
    background-color: #3d92d8;
    opacity: 0.7;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}

.result {
    font-family: 'M PLUS 1';
}

table {
    width: 55%;
    border-collapse: collapse;
  }
    
  th {
    background-color: #fca7b5;
    opacity: 0.8;
    color: #fff;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #fff6f6;
    opacity: 0.8;
  }
  
  tr:nth-child(odd) {
    background-color: #fcefef;
    opacity: 0.8;
  }
  
  td {
    padding: 10px;
  }  

.content {
    margin-left: 40px;
}
