/*h1 a, h2 a {
    color: #E87A90;
    font-family: 'Pixelify Sans';
}*/
body {
    font-family: "メイリオ";
    padding-left: 20px;
    padding-right: 20px;
}

.pagetitle {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 36pt;
    text-decoration: none;
}

.button {
    font-size: 15pt;
    padding: 5px 10px;
    background-color: #fff;
    color: #FF617D;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ボタンにホバースタイルを追加 */
.button:hover {
    background-color: #f7e8eb; /* ホバー時の背景色を変更 */
}
.page-header {
    color: #fff;
    font-family: 'Pixelify Sans';
    font-size: 24pt;
    background-color: #E87A90;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/*.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}*/

input {
    font-family: "メイリオ";
    color: #000;
}

label {
    color: #000;
    font-family: "メイリオ";
}

button {
    font-family: "メイリオ";
    color: #000;
}

.content {
    margin-left: 40px;
}
/*
h1, h2, h3, h4 {
    font-family: 'Pixelify Sans', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}*/