<html lang="jp">
{% load static %}
    <head>
        <title>Dr.Sum Uploader</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Pixelify+Sans&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/uploader.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/" class="pagetitle">Dr.Sum Uploader</a></h1>
            <div class="bt-logout">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button">LOGOUT</a>
                {% endif %}
            </div>
        </div>         
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>