{% extends 'uploader/base.html' %}

{% block content %}
<div class="content">
    <div class="itembox">
    <form method="post" enctype="multipart/form-data" id="fileUploadForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="folder_select">アップロード先</label>
            <select name="folder_select" id="folder_select" class="form-control">
            {% for folder_name in dir_list %}
                <option value="{{ folder_name }}"
                    {% if folder_name == request.session.last_selected_folder %} selected {% endif %}>
                    {{ folder_name }}
                </option>
            {% endfor %}
            </select>
            <button type="submit" name="action" value="subsel" class="subsel">サブフォルダ選択</button>
            <select name="subfolder_select" id="subfolder_select" class="subform-control">
                {% for folder_name in subdir_list %}
                <option value="{{ folder_name }}"
                    {% if folder_name == request.session.last_selected_subfolder %} selected {% endif %}>
                    {{ folder_name }}
                </option>
            {% endfor %}
            </select>
            <script>
                var combo = document.getElementById("folder_select");       //親フォルダコンボのオブジェクトを取り出す
                var subfolderButton = document.querySelector(".subsel");    //サブフォルダ絞り込み処理ボタンのオブジェクトを取り出す
                combo.addEventListener("change", function() {               //親フォルダコンボの値が変わったとき、絞り込み処理ボタンをクリックするようイベント設定
                    subfolderButton.click();
                });
            </script>
        </div>
        <div class="bt-select"><input type="file" multiple name="file" value=""></div>
        <div class="information"><p>{{ information }}</p></div>
        <div class="syoribtn">
        <button type="submit" name="action" value="upload" class="bt-upload">アップロード</button>
        <button type="submit" name="action" value="check" class="bt-check">インポート確認</button>
        <button type="submit" name="action" value="clear" class="bt-clear">クリア</button>
        </div>
    </form>
    <div class="result">
    <table>
        <tr>
            <th>ファイル名</th>
            <th>アップロード結果</th>
            <th>アップロード時間</th>
            <th>ファイル確認</th>
        </tr>
        {% for file_info in request.session.file_history %}
        <tr>
            <td>
                {{ file_info.file_name }}
            </td>
            <td>
                {% if file_info.success_message %}
                <p class="alert alert-success" id="success-message">{{ file_info.success_message }}</p>
                {% endif %}
        
                {% if file_info.error_message %}
                <p class="alert alert-danger" id="error-message">{{ file_info.error_message }}</p>
                {% endif %}
            </td>
            <td>
                {{ file_info.file_time }}
            </td>
            <td>
                {{ file_info.check }}
            </td>
        </tr>
        {% endfor %}    
    </table>
    </div>
    </div>
</div>
{% endblock %}
